img {
  width: 100px;
  height: 100px;
}

td.headerInstrument {
  display: block;
  position: fixed;
  left: 100px;
  padding-right: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -1px;
}
