@font-face {
  font-family: Title;
  src: url('fonts/PermanentMarker.ttf');
}

h1 {
	font-weight: lighter;
  font-size: 350%;
  font-family: Title;
  text-align: center;
  margin-top: 150px;
  color: yellow;
  text-shadow: -2px 0 black, 0 5px black, 5px 0 black, 0 -2px black;
}

.images {
  opacity: 1;
  align-content: center;
  margin-top: 50px;
}

.btn {
  cursor: pointer;
  background-color: white;
	padding: 10px 15px;
	border-radius: 25px;
	border: 4px;
  border-color: yellow;
  font-size: 100%;
  font-size: 20px;
  font-family: Title;
  text-align: center;
  border-style: ridge;
  color: yellow;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  margin-top: 75px;
}

.center {
  text-align: center;
}
